<section class="main">
	<ul class="todo-list">
		<% collections.each do |c| %>
			<li class="<%='completed' if c.completed? %>">
				<div class="view">
					<% if !is_item %>
						<label><%= link_to c[field_name], list_path(c) %></label>
						<%= button_to 'X', list_path(c), :method => "delete", :class => "destroy" %>
					<%else%>
						<label><%=c.item_description(c.item_id)%></label>
					<%end%>
				</div>
			</li>
		<%end%>
	</ul>
</section>
