

<section class="todoapp">

	<header class="header">
		<h1>Lists of <%=@username%></h1>
		<%= form_for(@new_list) do |f| %>
			<%= f.text_field :name, :class => "new-todo", :placeholder => (@new_list.errors.full_messages_for(:name).first || "Enter a new list name ...") %>
		<%end%>
	</header>

	<section class="main">

		<ul class="todo-list">

		</ul>
	</section>

<footer class="footer">
</footer>

</section>


