
<section id="new-list-section">

</section>

<div id="main">
<h1>Lists of <%=@user.username%></h1>

<!--<a id="new-list-link" href="#">New List</a>-->
<button id="new-list-link">New List</button>
<section class="todoapp">



	<section class="main">

		<ul class="todo-list">

		</ul>
	</section>

<footer class="footer">
</footer>

</section>
</div>


