<h1>List indxe page</h1>

<section class="todoapp">
	<header class="header">
		<h1>Lists</h1>
		<input class="new-todo" placeholder="Make a base list" autofocus>
	</header>
	<section class="main">
		<input id="toggle-all" class="toggle-all" type="checkbox">
		<label for="toggle-all">Mark all as complete</label>
		<ul class="todo-list">
			<li>
				<div class="view">
					<label> Annual Goal list </label>
				</div>
			</li>
			<li>
				<div class="view">
					<label> Weekend doto list </label>
				</div>
			</li>			
		</ul>

	</section>
	<footer class="footer">
	</footer>
</section>