<h1>List indxe page</h1>

<section class="todoapp">
	<header class="header">
		<h1>Lists</h1>
		<%= form_for(@new_list) do |f| %>
			<%= f.text_field :name, :class => "new-todo", :placeholder => (@new_list.errors.full_messages_for(:name).first || "Enter a new list name ...") %>
		<%end%>

	</header>
	<section class="main">
		<ul class="todo-list">
			<% @lists.each do |list| %>
				<li class=" ">
					<div class="view">
						<label><%= link_to list.name, list_path(list) %></label>
					</div>
				</li>
			<%end%>
		</ul>
	</section>
	<footer class="footer">
	</footer>
</section>
<section class="todoapp">
	<% if @items.size > 0 %>
		<h2>All list items</h2>
		<section class="main">
			<ul class="todo-list">
				<% @items.each do |item| %>
					<li class=" ">
						<div class="view">
							<label><%= item.description %></label>
						</div>
					</li>
				<%end%>
			</ul>
		</section>
	<% end %>
</section>
<!--	<footer class="footer">
	</footer>
</section>-->