

<h1>Lists of <%=@username%></h1>

<a href="/lists/new">New List</a>
<section class="todoapp">



	<section class="main">

		<ul class="todo-list">

		</ul>
	</section>

<footer class="footer">
</footer>

</section>


