<h1> New List </h1>

<form action='#'>
	<label>New List Name: </label>
	<input type="text" name='listname' value=''>
	<br>
	<input type="text" id="item" list="itemlist">
	<button id="add_new_item">Add Item</button>
	<datalist id="itemlist">
	</datalist>
	<br>
	<br>
	<input type="submit" value="Create a List">
</form>



